@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

* button {
  font-weight: bold;
  color: white;
  background-color: rgb(0, 140, 255);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

* button:hover {
  cursor: pointer;
  background-color: rgb(0, 123, 224);
}

.App {
  width: 350px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

.header {
  margin-top: 20px;
  width: 100%;
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 30px;
}

.header button {
  font-size: 12px;
  height: 40px;
  padding: 10px;
}

.list {
  margin-top: 30px;
  width: 100%;
}

.list > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
  border-radius: 15px;
  box-sizing: border-box;
  word-break: break-word;
}

#filterButtons {
  width: 280px;
  flex-flow: column;
}

#filterButtons button {
  width: 90px;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
}

#currentFilter {
  margin-top: 5px;
  padding: 5px;
}

#currentFilter h2 {
  font-size: 22px;
}

.taskInfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskInfo h1 {
  font-size: 24px;
  margin-left: 10px;
}

.taskInfo p {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 18px;
}

.importantTask {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.importantTask div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: #ffd900;
  border: 2px solid black;
}

.importantTask h4 {
  margin-left: 8px;
  margin-top: 4px;
}

.taskButtons {
  width: 30%;
  display: flex;
  flex-flow: column;
}

.taskButtons button {
  background-color: white;
  color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  font-size: 12px;
}

.taskButtons button:hover {
  background-color: rgb(236, 236, 236);
}

#doneButton {
  border: 2px solid rgb(0, 180, 0);
  height: 40px;
  color: rgb(0, 180, 0);
}

.done {
  background-color: rgb(0, 180, 0) !important;
  color: white !important;
}

.addTaskInterface,
.filterTasksInterface {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.315);
  width: 100vw;
  height: 100vh;
}

.addTaskInterfaceContainer,
.filterTasksInterfaceContainer {
  width: 311px;
  height: 330px;
  border-radius: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
}

.addTaskInterfaceContainer h3,
.filterTasksInterfaceContainer h3 {
  font-size: 25px;
}

.addTaskInterfaceContainer input,
.filterTasksInterfaceContainer input {
  width: 90%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  padding-left: 5px;
}

input#description {
  height: 45px;
}

.filterTasksInterfaceContainer {
  width: 300px;
  height: 220px;
}

.filterTasksInterfaceContainer input {
  margin-top: 10px;
}

.addTaskInterfaceHeader,
.filterTasksInterfaceHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#closeButton {
  width: 40px;
  font-size: 25px;
  margin: 0;
}

.taskPriority {
  display: flex;
}

.taskPriority h3 {
  margin-top: 5px;
  margin-right: 20px;
}

.taskPriority button,
.taskConclusion button {
  background-color: white;
  color: rgb(0, 140, 255);
  border: 2px solid rgb(0, 140, 255);
  width: 70px;
  height: 35px;
  margin-right: 10px;
}

.saveButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.saveButton button {
  padding: 8px;
}

.filterConfig {
  height: 120px;
}

.filterConfig select {
  width: 130px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.filterConfig select:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}

.filterConfig option {
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

.filterConfig button {
  margin-top: 8px;
}

.taskConclusion button {
  width: 130px;
}

.selected {
  background-color: rgb(0, 140, 255) !important;
  color: white !important;
}

@media screen and (min-width: 700px) {
  .App {
    width: 650px;
  }

  .header div {
    justify-content: space-around;
  }

  .header button {
    font-size: 18px;
    height: 50px;
    padding: 10px;
  }

  .addTaskInterfaceContainer {
    width: 400px;
  }

  .filterTasksInterfaceContainer {
    width: 300px;
    height: 230px;
  }

  #filterButtons button {
    font-size: 16px;
  }

  .taskInfo h1 {
    font-size: 28px;
  }

  .taskInfo p {
    margin-left: 10px;
    font-size: 20px;
  }

  .taskButtons button {
    font-size: 18px;
  }

  #doneButton {
    height: 60px;
  }

  #currentFilter h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .App {
    width: 900px;
  }

  .list {
    margin-top: 30px;
    width: 90%;
  }

  #taskButtons button {
    height: 35px;
  }
}
